In [36]:
import pandas as pd

In [37]:
excel_file_path = 'sample_superstore.xls'

# Read the Excel file into a DataFrame
df = pd.read_excel(excel_file_path)

In [14]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [15]:
#call out all column names to check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [16]:
#check column names
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [17]:
#find unique values
df.nunique()

Row ID           9994
Order ID         5009
Order Date       1237
Ship Date        1334
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              531
State              49
Postal Code       631
Region              4
Product ID       1862
Category            3
Sub-Category       17
Product Name     1850
Sales            6144
Quantity           14
Discount           12
Profit           7545
dtype: int64

In [18]:
#check null values
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## Let's Get to Know the Data

In [21]:
df['Ship Mode'].value_counts()

Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: Ship Mode, dtype: int64

In [22]:
df['Segment'].value_counts()

Consumer       5191
Corporate      3020
Home Office    1783
Name: Segment, dtype: int64

In [23]:
df['Category'].value_counts()

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [24]:
df['Country'].value_counts()

United States    9994
Name: Country, dtype: int64

In [26]:
df['Region'].value_counts()

West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64

In [27]:
#find unique costumers 
unique_customers = df['Customer ID'].nunique()
unique_customers

793

# Count Each Ship Modes and Their Counts in Descending Order and Output is 'Ship Mode' and 'Counts'

In [35]:
print(df['Ship Mode'].value_counts().reset_index().rename(columns={'index':'Ship Mode','Ship Mode':'Count'}).sort_values(by='Count', ascending=False))

        Ship Mode  Count
0  Standard Class   5968
1    Second Class   1945
2     First Class   1538
3        Same Day    543

# Find the Total Sales for Each Product Category and Display the Result in Ascending Order of Total Sales

In [42]:
df.groupby('Category')['Sales'].sum().reset_index().sort_values(by='Sales', ascending=True)

          Category        Sales
1  Office Supplies  719047.0320
0        Furniture  741999.7953
2       Technology  836154.0330

# Find the top 5 cities with the highest total sales and the number of orders placed in each of those cities. Provide the result in descending order of total sales

In [50]:
df.groupby('City').agg({'Sales':'sum','Order ID':'count'}).reset_index().sort_values(by='Sales', ascending = False).head(5)

              City       Sales  Order ID
329  New York City  256368.161       915
266    Los Angeles  175851.341       747
452        Seattle  119540.742       428
438  San Francisco  112669.092       510
374   Philadelphia  109077.013       537

# Find the top 5 products within the "Furniture" category with the highest sales. Provide the result in descending order of sales.

In [60]:
top_5_furniture_products = df[df['Category'] == 'Furniture'].groupby('Product Name').agg({'Sales': 'sum'}).reset_index().sort_values(by='Sales', ascending=False).head(5)
top_5_furniture_products

                                          Product Name       Sales
206       HON 5400 Series Task Chairs for Big and Tall  21870.5760
321  Riverside Palais Royal Lawyers Bookcase, Royal...  15610.9656
40          Bretford Rectangular Conference Table Tops  12995.2915
201      Global Troy Executive Leather Low-Back Tilter  12975.3820
325                           SAFCO Arco Folding Chair  11572.7800

# Calculate the total sales and total profit for each sub-category within the 'Office Supplies' category. Provide the result in descending order of total profit

In [62]:
df[df['Category']=='Office Supplies'].groupby('Sub-Category').agg({'Sales':'sum','Profit':'sum'}).sort_values(by='Profit', ascending=False)

                   Sales      Profit
Sub-Category
Paper          78479.206  34053.5693
Binders       203412.733  30221.7633
Storage       223843.608  21278.8264
Appliances    107532.161  18138.0054
Envelopes      16476.402   6964.1767
Art            27118.792   6527.7870
Labels         12486.312   5546.2540
Fasteners       3024.280    949.5182
Supplies       46673.538  -1189.0995